/Homestead.yaml
/offline-issues
vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/.vagrant
/coverage
/.idea
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example
