language: php

php:
  - '7.2'

before_script:
  - cp .env.travis .env
  - mysql -e 'create database homestead;'
  - composer self-update
  - composer install --no-interaction
  - php artisan key:generate

script:
  - php artisan key:generate
  - vendor/bin/phpunit