language: php
sudo: required
env:
  - DB_CONNECTION=sqlite

sevices:
  - mysql

matrix:
  php:
    - 5.6
    - 5.5
    - 7.0

  allow_failures:
    - php: hhvm

before_script:
  - composer self-update
  - touch database/database.sqlite
  - composer install
  - mysql -e 'create database IF NOT EXISTS homestead;'
  - php artisan migrate --database=sqlite --force
  - php artisan key:generate

script:
  - phpunit -c phpunit.xml
  - vendor/bin/phpunit --coverage-clover=coverage.xml

# code coverage
before_install:
  - pip install --user codecov
after_success:
    - bash <(curl -s https://codecov.io/bash)
