// Color palette
$primary:                 #dd4b39;
$secondary:               #dd4b39;
$gray-white:              #dcdcdc;
$gray:                    #999;
$black:                   #000;

$bg-red:                  #af1f2e;
$bg-green:                #2d9340;

$white:                #fff;
$white-2:              #f5f5f5;

// Typography
$typography-gray:         #9b9b9b;
$typography-white:        #dcdcdc;

// panels
$panel-default-color:     rgba(247, 244, 247, 1);
$panel-heading-border:    #f1f1f1;

$border-h6:               rgba(0, 0, 0, .1);

$navbar-background:       #fff;
$navbar-border:           #4a88ce;
$navbar-link:             #000;
$navbar-hover:            #3668a0;
$navbar-active-bg:        #3668a0;
$navbar-dark-gray:        #333;

$jumbotron-text:          #f1f1f1;
$jumbotron-bg:            #3668a0;


$color-white:             #fff;
$color-blue:              #5090f7;
$color-black:             #111;
$color-light-blue:        #3c8dbc;
$color-green:             #00a65a;
$color-gray:              #ebeff2;
$color-lighter-gray:      #e7eaec;

$tabs-gray:               #ddd;
$tab-white:               #ddd;
$tab-white2:              #e8e8e8;
$tabs-link:               #246c99;


$rgb-black:               rgba(0, 0, 0, .2);
$rgb-black2:              rgba(0, 0, 0, .85);
