.profile {margin-top: 25px;}
.profile h1{font-weight: normal; font-size: 20px; margin:10px 0 0 0;}
.profile h2{font-size: 13px; margin-top: 6px; color: #000000;}
.profile .img-box{ opacity: 1; display: block; position: relative;}