.form-horizontal .control-label {
  text-align: left;
}

// privous class name: formSep
.form-sep {
  border-bottom: 1px dashed $gray-white;
  margin-bottom: 6px;
  padding-bottom: 6px;
}

.form-horizontal .form-group address {
  margin-top: -30px;
  padding-top: -30px;
}
