.navbar-default {
  background-color: $navbar-background;
  border: 0;
  box-shadow: 0 3px 0 $navbar-border;
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  box-shadow: 0 2px 0 $navbar-hover;
  color: $navbar-hover;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  box-shadow: 0 3px 0 $navbar-active-bg;
  color: $primary;
}

.navbar-menu-item {
  padding: .1em 1.5em;
  color: #333;

  // .navbar-menu-item .label
  .label {
    color: #000;
    font-size: 1em;
    padding: 0;
  }
}

.menu-language {
  padding-top: .1em;
  padding-bottom: .1em;
  color: #333;
}
