// scss-lint:disable DuplicateProperty
.nav-tabs {
  border-bottom: 1px solid $tabs-gray;
  margin-bottom: 1px;
  margin-bottom: 0;
}

.nav.nav-pills {
  margin-bottom: 10px;
}


.tab-content > .tab-pane,
.pill-content > .pill-pane {
  border-width: 0;
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tab-pane {
  min-height: 300px;
  padding: 5px;
}



