.nav-tabs {
  margin-bottom: 1px;
  border-bottom: 0 solid #ddd;
}

.nav-tabs > li > a {
  color: #000000;
}

.nav.nav-pills {
  margin-bottom: 10px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top: 3px solid #4596f1;
  color: #000;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
  background: #fff;
  border-width: 0 0 0;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  min-height: 300px;
}

.nav-tabs {
  margin-bottom: 0;
}

.nav-pills + .nav-pills {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #dcdcdc;
}

.nav-pills > li {
  line-height: 17px;
}

.nav-pills > li > a {
  color: #fff;
  padding: 5px 8px 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #337ab7;
  color: #fff !important;
}
