.nav-tabs {
  margin-bottom: 1px;
  border-bottom: 1 solid #ddd;
}

.nav.nav-pills {
  margin-bottom: 10px;
}


.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
  border-width: 0 0 0;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tab-pane {
  padding: 10px;
  min-height: 300px;
}

.nav-tabs {
  margin-bottom: 0;
}

.nav-pills + .nav-pills {
  margin-left: 10px;
  padding-left: 10px;
}

.nav-pills > li {
  line-height: 17px;
}

.nav-pills > li > a {
  padding: 5px 8px 5px;
}

