body {
  font-family: 'Lato';
}

.fa-btn {
  margin-right: 6px;
}

.team {
  padding: 1px 0;
}

h6 .description {
  border-bottom: 1px solid $border-h6;
  color: $gray;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 5px;
}

.bg-red {
  background-color: $bg-red;
}

.bg-green {
  background-color: $bg-green;
}

.jumbotron {
  background-color: $jumbotron-bg;
  color: $jumbotron-text;
}

.user-list {
  list-style: none;
  margin: 0;
  padding: 0;

  // .user-list li
  li {
    border-bottom: 1px dashed $typography-white;
    line-height: normal;
    margin-bottom: 10px;
    padding: 0 11px 11px;
  }

  // .user-list small
  small {
    color: $typography-gray;
    font-size: 11px;
  }
}
